@charset "UTF-8";

body {
	background-color:#30292F;
}
main {
	font-family: "meiryo", sans-serif;
	font-weight: 400;
	font-style: normal;
	color:white;
}
.p {
	font-family: "Meiryo"
}


.header {
	 background-image: url("../img/Header.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px; 
  display: flex;
	color:white;
  align-items: center;
  justify-content: center;
  font-size: 18px;
	margin-bottom:20vh;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#test {
  transition: margin-left .5s;
  top: 8px;
  left: 13px;
  background-color: black;
	background-size: 100;
  color:white;
	position:absolute;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.container {
  max-width: 150vh;
}

h1 {
  font-size: 45px;
  margin-bottom: 20px;
	margin-left:20vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 40px;
	margin-left:50vh;
}

.item {
  text-align: center;
}

.item img {
  width: 100%;
  border-radius: 6px;
}

.item p {
  margin-top: 8px;
  font-size: 40px;
	font-weight:400;
}

.footer {
  background-image: url("../img/footer.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px; 
  display: flex;
	color:white;
  align-items: center;
  justify-content: center;
  font-size: 18px;
	margin-top:20vh;
}


@media (max-width: 768px) {

  body {
    margin: 0;
    padding: 0;
  }

  .header {
    height: 70px;
    margin-bottom: 5vh;
  }

  #test {
    top: 15px;
    left: 15px;
    background-color: transparent;
  }

  main {
    margin-top: 0;
    font-size: 16px;
  }

  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  h1 {
    margin-left: 0;
    font-size: 32px;
    text-align: center;
  }

  .grid {
    margin-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .item img {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  .item p {
    font-size: 24px;
    margin-top: 6px;
  }

  .footer {
    height: 80px;
    font-size: 14px;
    margin-top: 10vh;
  }
}