@charset "UTF-8";

body {
	background-color:#30292F;
}
main {
	font-family: "meiryo", sans-serif;
	font-style: normal;
	color:white;
}
.p {
	font-family: "Meiryo"
}


.header {
	 background-image: url("../img/Header.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px; 
  display: flex;
	color:white;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#test {
  transition: margin-left .5s;
  top: 8px;
  left: 13px;
  background-color: black;
	background-size: 100;
  color:white;
	position:absolute;
}
.news-container {
	position:top;
}
.Title {
	margin-left: 20px;
	font-weight:600;
	font-size:45;
}

.news-flex {
  display: flex;
  gap: 24px;
  margin-top: 30px;
  align-items: flex-start;
}
.newsmain h3 {
	margin-left:20px;
	text-align:center;
	font-weight:600;
}
.newsmain p {
	margin-left:20px;
	text-align:center;
	font-weight:400;
}
.news-main-img {
  margin-left:20px;
  height:70vh;
  width: 100%;
  border-radius: 4px;
}
 
.news-main-text h3 {
position:top;
  margin-left:20px;
  margin-bottom: 10px;
  font-size: 24px;
	font-weight:400;
}

.news-side {
  right:20px;
	margin-left:20px;
  border-left: 1px solid white;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 400px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.footer {
  background-image: url("../img/footer.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px; 
  display: flex;
	color:white;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}