@charset "UTF-8";
/* CSS Document */

body {
	background-color: sandybrown;
	margin-left:10%;
	margin-right:5%;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
}
header {
	background-color:chocolate;
	padding-bottom:20px;
}
nav {
	color:
}
ul {

}
li{
	list-style-type: none;
	display:inline;
	margin-right: 10px;
}
.posttime {
	color:aqua;
	font-size: 0.7em;
}
h2, p, h3 {
	color:brown
}