@charset "UTF-8";
/* CSS Document */

.container {
	width:80%;
	margin: 0 auto;
}

img {
	width:100%;
	height:auto;
}

.box1{
	position: absolute;
	bottom: 8px;
	left: 16px;
}

.box2 {
	position:fixed;
	top: 2px;
	left:16px;
	background-color:aquamarine;
	padding: 10px 20px;
}

.insidebox2 {
	background-color:burlywood;
}
.box3 {
	position:sticky;
	bottom: 8px;
	right: 16px;
}

.box4 {
	float:right;
	top: 2px;
	right: 500px;
}